In [272]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.impute import SimpleImputer, KNNImputer
from datetime import datetime, timedelta

## Data Preprocessing

In [273]:
# Load the dataset
df = pd.read_excel("ai4i2020.xlsx")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,No Failure

In [274]:
# Check the shape of the dataset
print("\nShape of Dataset (rows, columns):")
print(df.shape)

Shape of Dataset (rows, columns):
(10000, 15)

In [275]:
# Check column names
print("\nColumn Names:")
print(df.columns.tolist())

Column Names:
['UDI', 'Product ID', 'Type', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Failure Type']

In [276]:
# Rename columns 
df.rename(columns = {
    'UDI' : 'UID',
    'Product ID' : 'Product_ID',
    'Air temperature [K]' : 'Air temperature',
    'Process temperature [K]' : 'Process temperature',
    'Rotational speed [rpm]' : 'Rotational speed',
    'Torque [Nm]' : 'Torque',
    'Tool wear [min]' : 'Tool wear'
}, inplace = True)
df.head()

,UID,Product_ID,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,TWF,HDF,PWF,OSF,RNF,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,No Failure

In [277]:
# Check datatypes of each column
df.dtypes

UID                      int64
Product_ID              object
Type                    object
Air temperature        float64
Process temperature    float64
Rotational speed         int64
Torque                 float64
Tool wear                int64
Machine failure          int64
TWF                      int64
HDF                      int64
PWF                      int64
OSF                      int64
RNF                      int64
Failure Type            object
dtype: object

In [278]:
# Check summary statistics 
print("\nStatistical Summary:")
print(df.describe(include = 'all'))

Statistical Summary:
                UID Product_ID   Type  Air temperature  Process temperature  \
count   10000.00000      10000  10000     10000.000000         10000.000000
unique          NaN      10000      3              NaN                  NaN
top             NaN     M14860      L              NaN                  NaN
freq            NaN          1   6000              NaN                  NaN
mean     5000.50000        NaN    NaN       300.004930           310.005560
std      2886.89568        NaN    NaN         2.000259             1.483734
min         1.00000        NaN    NaN       295.300000           305.700000
25%      2500.75000        NaN    NaN       298.300000           308.800000
50%      5000.50000        NaN    NaN       300.100000           310.100000
75%      7500.25000        NaN    NaN       301.500000           311.100000
max     10000.00000        NaN    NaN       304.500000           313.800000

        Rotational speed        Torque     Tool wear  Machine failure  \
count       10000.000000  10000.000000  10000.000000     10000.000000
unique               NaN           NaN           NaN              NaN
top                  NaN           NaN           NaN              NaN
freq                 NaN           NaN           NaN              NaN
mean         1538.776100     39.986910    107.951000         0.033900
std           179.284096      9.968934     63.654147         0.180981
min          1168.000000      3.800000      0.000000         0.000000
25%          1423.000000     33.200000     53.000000         0.000000
50%          1503.000000     40.100000    108.000000         0.000000
75%          1612.000000     46.800000    162.000000         0.000000
max          2886.000000     76.600000    253.000000         1.000000

                 TWF           HDF           PWF           OSF          RNF  \
count   10000.000000  10000.000000  10000.000000  10000.000000  10000.00000
unique           NaN           NaN           NaN           NaN          NaN
top              NaN           NaN           NaN           NaN          NaN
freq             NaN           NaN           NaN           NaN          NaN
mean        0.004600      0.011500      0.009500      0.009800      0.00190
std         0.067671      0.106625      0.097009      0.098514      0.04355
min         0.000000      0.000000      0.000000      0.000000      0.00000
25%         0.000000      0.000000      0.000000      0.000000      0.00000
50%         0.000000      0.000000      0.000000      0.000000      0.00000
75%         0.000000      0.000000      0.000000      0.000000      0.00000
max         1.000000      1.000000      1.000000      1.000000      1.00000

       Failure Type
count         10000
unique            6
top      No Failure
freq           9652
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

In [279]:
# Chexck for null values
print("\nNull Values per Column:")
print(df.isnull().sum())

Null Values per Column:
UID                    0
Product_ID             0
Type                   0
Air temperature        0
Process temperature    0
Rotational speed       0
Torque                 0
Tool wear              0
Machine failure        0
TWF                    0
HDF                    0
PWF                    0
OSF                    0
RNF                    0
Failure Type           0
dtype: int64

In [280]:
# Check for duplicate rows
print("\nNumber of Duplicate Rows:")
print(df.duplicated().sum())

Number of Duplicate Rows:
0

In [281]:
# Check for unique values in "Product ID" column
if "Product_ID" in df.columns:
    print("\nNumber of Unique Product IDs:", df['Product_ID'].nunique())
    print("Unique Product IDs Sample:", df['Product_ID'].unique()[:5])

Number of Unique Product IDs: 10000
Unique Product IDs Sample: ['M14860' 'L47181' 'L47182' 'L47183' 'L47184']

In [282]:
# Extract Product IDs
df['Product_ID_clean'] = [''.join(filter(str.isdigit, pid)) for pid in df['Product_ID']]
df['Product_ID_clean']

0       14860
1       47181
2       47182
3       47183
4       47184
        ...
9995    24855
9996    39410
9997    24857
9998    39412
9999    24859
Name: Product_ID_clean, Length: 10000, dtype: object

In [283]:
# Convert numeric columns to float
df['Rotational speed'] = df['Rotational speed'].astype('float64')
df['Tool wear'] = df['Tool wear'].astype('float64')